body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    height: 100%;
    
}
header {
  background-color: #333333e7;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 30px;
  z-index: 1000;
}

nav {
  margin: 0.7% 20% 0% 20%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  background-color: #333333e7;
}

nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  
}

#menu-icon {
  display: none;
  cursor: pointer;
}

#menu-icon:checked + label + nav {
  max-height: 100vh;
}



h1 {
    font-size: 68px;
    font-variant: normal;
    font-weight: 700;
    vertical-align: baseline;
    margin: 10px;
    color: #ff9900;
    z-index: 3;
}
h2 {
    font-size: 48px;
    font-variant: normal;
    color: #ff9900;
    z-index: 3;
}

h3 {
    font-size: 28px;
    font-variant: normal;
    color: #ff9900;
    z-index: 3;
  }
  
  
  h4 {
    font-size: 20px;
    font-variant: normal;
    color: #ff9900;
    z-index: 3;
  }
  h5{
    font-size: 18px;
    font-variant: normal;
    color: #000000;
    z-index: 3;
  }

.section {
    text-align: center;
    padding: 5em;
}

.container {
    margin: auto;
    z-index: 1000;
}

.textcols {
	white-space: nowrap;
}
.textcols-item {
    padding: 1em;
    text-align: left;
    white-space: normal;	
    display: inline-block;
    width: 40%;
    vertical-align: top;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.textcols-item_3 {
  padding: 1em;
  text-align: left;
  white-space: normal;	
  display: inline-block;
  width: 30%;
  vertical-align: top;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.textcols .textcols-item:first-child {
	margin-right: 4%;
}
.textcols-item_3 p {
  font-size: 20px;
  line-height: normal;
}

table {
    width: 100%;
    padding: 0.5em;
    line-height: normal;
}
    tr td{
        width: 70%;
    }
button{
      width: 20vw; 
      background-color: rgba(255, 255, 255, 0); 
      border: 0px;
    }
    #section0 {
      background-image: url('./Images/sec0.jpg'); /* Укажите путь к вашей фотографии */
      background-size: cover;
      background-position: center;
      color: #fff; /* Цвет текста, чтобы он был виден на фоне */
      text-align: center;
      padding: 100px; /* Регулируйте отступы по своему усмотрению */
      position: relative;
      z-index: -2;
      overflow: hidden;
    }
    #section0::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5); /* Черный фон с 50% прозрачностью */
      z-index: -1;
    }

    #section3 {
      background-image: url('./Images/sec3.jpg'); /* Укажите путь к вашей фотографии */
      background-size: cover;
      background-position: center;
      color: #fff; /* Цвет текста, чтобы он был виден на фоне */
      text-align: center;
      padding: 100px; /* Регулируйте отступы по своему усмотрению */
      position: relative;
      z-index: -2;
      overflow: hidden;
    }
    #section3::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5); /* Черный фон с 50% прозрачностью */
      z-index: -1;
    }



    #section5 {
      background-image: url('./Images/sec5.jpg'); /* Укажите путь к вашей фотографии */
      background-size: cover;
      background-position: center;
      color: #fff; /* Цвет текста, чтобы он был виден на фоне */
      text-align: center;
      padding: 100px; /* Регулируйте отступы по своему усмотрению */
      position: relative;
      overflow: hidden;
    }

.r_prp{
  max-height: 40vw;
}

    .stanok-img {
      max-width: 60vw;
      max-height: 20vw;
    }

    .Ico-feedback{
      max-width: 8vh;
      max-height: 8vh;
    }

    footer {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 1em;
    }
    

    @media (max-width: 800px) {

      nav a {
        height: 60px;
        width: 100px;
      }
      header {
        height: 80px;
        padding: 10px;
      }
      .section {
          width: 100%;
      }
  
      .textcols-item{
          width: 40%;
      }
      .textcols-item_3{
        width: 30%;
      }
  
      .textcols .textcols-item:first-child {
          margin-right: 4%;
      }

      .r_prp{
        max-height: 50vw;
      }
      tr td {
          width: 70%;
      }

      
  }
  @media (max-width: 768px) {
    nav {
        background-color: #333333e7;
      }
    nav a {
        display: block;
    }
   
    #menu-icon {
        display: block;
    }
  
    #menu-icon + label + nav {
        max-height: 0;
    }
    .textcols {
      white-space: wrap;
    }
    
    .textcols-item_3 {
      width: 50%;
    }
    .textcols .textcols-item:first-child {
      margin-bottom: 10%;
    }
  }
  @media (max-width: 624px){
    h1{
        font-size: 44px;
    }
    h2{
        font-size: 34px;
    }
    h3{
      font-size: 28px;
    }
    h4{
      font-size: 18px;
    }

  }

  @media (max-width: 536px){
    
    .stanok-img {
      max-height: 100vw;
    }
    iframe{
      max-width: 50vw;
      max-height: 50vw;
    }
  }
  @media (max-width: 360px){
    h1{
      font-size: 34px;
    }
    h2{
        font-size: 24px;
    }
    h3{
      font-size: 18px;
    }
    h4 h5{
      font-size: 16px;
    }
  }